.img-circle {
  width: 140px;
  height: 140px;
}

.featurette-image {
  width: 500px;
  height: 500px;
}

.begin_test_btn {
  width: 250px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #004444;
  color: #eee;
  border-radius: 15px;
}

.test_img {
  width: 200px;
  height: 200px;
}

.button-margin-left
{
   margin-left:0.5cm;
}
.search-bar
{
  padding-right: 1.0cm;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.header
{
  padding-top:40px;
}

.cover-occupation
{
  max-height: 249px;
  max-width: 290px;
}


